//
//  Config.xcconfig
//  GmmApp
//
//  Created by GwangHyeok Yu on 2023/04/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-GmmApp/Pods-GmmApp.debug.xcconfig"
APP_BUNDLE_ID=kr.co.tmoney.bfcs.gmmapp.dev
APP_NAME=단말기현장관리개발

WEB_ROOT_URL=http:/${}/siwoo.ddns.net:3000/
//WEB_ROOT_URL=https:/${}/bfcs.tmoney.co.kr/html/gmm/index.html
LOGIN_PAGE_URL=${WEB_ROOT_URL}#/login
MAIN_PAGE_URL=${WEB_ROOT_URL}#/

API_DOMAIN=siwoo.ddns.net
API_URL=http:/${}/${API_DOMAIN}:3000/bfcs/gmm/mobile/
//API_DOMAIN=bfcs.tmoney.co.kr
//API_URL=https:/${}/${API_DOMAIN}/bfcs/gmm/mobile/
